
@{
    ViewData["Title"] = "Index";
}

<h1>Find Hits</h1>

<div class="searchBar">
    <form method="post" asp-action="Index" asp-controller="Search">
        <input type="text" name = "Keywords" placeholder="Search Terms">
        <input type="text" name="FilterUrl" placeholder="URL">
        <input type="submit" value="RetrieveResults"/>
    </form>
    
    <h2>@ViewData["Results"]</h2>
</div>
