
@{
    ViewData["Title"] = "Find Search Rankings";
    @model SearchRequest;
}

<div class="searchPage">
    <h1>Find Search Rankings</h1>
    <p>Enter a search term and a filter URL to find out where the filter URL appears in the top 100 search results.</p>


    <form class="searchForm" method="post" asp-action="Index" asp-controller="Search">
        <input asp-for="Keywords" type="text" name="Keywords" placeholder="Search Term">
        <br />
        <span class="errorMessage" asp-validation-for="Keywords"></span>
        <br />

        <input asp-for="FilterUrl" type="text" name="FilterUrl" placeholder="URL">
        <br />
        <span class="errorMessage" asp-validation-for="FilterUrl"></span>
        <br />

        <input class="submit" type="submit" value="Search" />
    </form>

    <p class="result">Located at positions: @ViewData["Results"]</p>
</div>
